/* Container for the whole component */
.capture-container {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  padding: 20px;
  margin: auto;
  width: 80%;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
}

.dropdowns {
  margin: auto;
  align-items: center;
}

/* Dropdowns and video are side by side on larger screens */
@media (min-width: 768px) {
  .capture-container {
    flex-direction: row;
    justify-content: center;
  }

  .dropdowns {
    margin-right: 20px;
  }

  .video-container {
    margin-left: 20px;
  }
}

/* Stacked layout on mobile screens */
@media (max-width: 480px) {
  .dropdowns {
    margin-bottom: 20px;
  }

  .video-container {
    margin-top: 20px;
  }

  .dropdown-container{
    margin-top: 4rem;
    flex-direction: column;
  }

 
  
  .dropdown select {
    width: 200px !important;
    font-size: 0.8rem !important;
  }

  
}

/* Styling the dropdown container */
.dropdowns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.dropdown label {
  font-weight: bold;
  margin-bottom: 5px;
}

.dropdown select {
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.5rem;
}

/* Video container */
.video-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Video element */
.video-element {
  border-radius: 10px;
  width: 100%;
  max-width: 1000px; /* Increased max-width */
  height: auto;
}

/* Landmark canvas over the video */
.landmark-canvas {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  max-width: 800px; /* Increased max-width to match video */
  height: auto;
}

/* Capture button */
.capture-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff7f50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.capture-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.capture-button:hover:enabled {
  background-color: #ff6347;
}

/* Captured image display */
.captured-image-container {
  margin-top: 20px;
  text-align: center;
}

.captured-image {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
