
.home{
    display: flex;
}

@media (max-width: 480px) {
    .home{
        display: block;
    }
    .con{
        flex-direction: column;
        /* justify-content: flex-start;
        padding: 20px; */
    }
    .aboutcon{
        flex-direction: column;
    }
}